<p style="clear:left">
  <label for="product_enable_comments">Allow Comments on this product?</label> 
  <%= check_box "product", "enable_comments" %>
  
  <small>
    <%#= link_to "Currently #{@product.comments_count} &mdash; View comments", admin_product_comments_path(:product_id => @product.id) unless @product.new_record? or @product.comments_count < 1 %>
  </small>
</p>
